body {
    margin: 0px;
    overflow: hidden;
  }
  
  .sphere {
    fill: #4242e4;
  }
  
  .country {
    fill: lightgreen;
    stroke: black;
    stroke-opacity: 0.1;
  }
  #but{
    display: block;
   margin-left: 44%;
   margin-top: 20px;
  }
  #b2{
    display: block;
   margin-left: 43%;
   margin-top: 20px;
  }